body {
    background-color: #0f172a;
    color: #e5e7eb;
    font-family: 'Segoe UI', sans-serif;
}

.regex-card {
    background-color: #1e293b;
    color: #e5e7eb;
    width: 500px;
    border-radius: 12px;
}

.btn-primary {
    background-color: #38bdf8;
    border: none;
}

.btn-primary:hover {
    background-color: #0ea5e9;
}
